<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="home-container">
        <h2>Bienvenue sur le chatbot IA_Flight</h2>
        <p>
            Utilisez le chatbot ci dessous pour vous aider à réserver vos vols !
            Si vous avez des question sur les fonctionnalités du chatbot écrivez "/help".
        </p>
        <!-- A remplir => Interface du Chatbot -->
    </div>
</body>
</html>